In [ ]:
import numpy as np
from pandas import DataFrame
import pandas as pd
df1 = pd.read_csv('south_pen-India_rainfall_act_dep_1901_2016.csv')
df2 = pd.read_csv('ne-India_rainfall_act_dep_1901_2016.csv')
df3 = pd.read_csv('nw-India_rainfall_act_dep_1901_2016.csv')
df4 = pd.read_csv('central-India_rainfall_act_dep_1901_2016.csv')

In [100]:
df1 = df.applymap(lambda x: x.strip() if isinstance(x,str) else x)

In [101]:
df1[df1['Actual Rainfall: JUN']==df1['Actual Rainfall: JUN'].max()][['YEAR']]

    YEAR
90  1991

In [124]:

south=df1.sort_values(['Actual Rainfall: JUN','Actual Rainfall: JUL','Actual Rainfall: AUG','Actual Rainfall: SEPT'], ascending=[True, True,True,True])
c1=south['YEAR'].head()
c1

61     1962
75     1976
113    2014
73     1974
108    2009
Name: YEAR, dtype: int64

In [125]:
df2 = pd.read_csv('ne-India_rainfall_act_dep_1901_2016.csv')
ne=df2.sort_values(['Actual Rainfall: JUN','Actual Rainfall: JUL','Actual Rainfall: AUG','Actual Rainfall: SEPT'], ascending=[True, True,True,True])
c2=ne['YEAR'].head()
c2

108    2009
74     1975
104    2005
91     1992
4      1905
Name: YEAR, dtype: int64

In [126]:
df3 = pd.read_csv('nw-India_rainfall_act_dep_1901_2016.csv')
nw=df3.sort_values(['Actual Rainfall: JUN','Actual Rainfall: JUL','Actual Rainfall: AUG','Actual Rainfall: SEPT'], ascending=[True, True,True,True])
c3=nw['YEAR'].head()
c3

25     1926
30     1931
23     1924
111    2012
64     1965
Name: YEAR, dtype: int64

In [127]:
df4 = pd.read_csv('central-India_rainfall_act_dep_1901_2016.csv')
c=df4.sort_values(['Actual Rainfall: JUN','Actual Rainfall: JUL','Actual Rainfall: AUG','Actual Rainfall: SEPT'], ascending=[True, True,True,True])
c4=c['YEAR'].head()
c4

22     1923
25     1926
4      1905
1      1902
113    2014
Name: YEAR, dtype: int64

In [135]:
c1=c.head()
c1
r= pd.concat([c1,c2,c3,c4], axis=1)

r.fillna(0, inplace=True)
r

,YEAR,Actual Rainfall: JUN,Actual Rainfall: JUL,Actual Rainfall: AUG,Actual Rainfall: SEPT,Actual Rainfall: JUN-SEPT,Departure Percentage: JUN,Departure Percentage: JUL,Departure Percentage: AUG,Departure Percentage: SEP,Departure Percentage: JUN-SEPT,YEAR,YEAR,YEAR
1,1902.0,62.3,334.2,237.6,216.0,850.0,-62.4,-4.8,-15.1,16.8,-13.4,0.0,0.0,1902.0
4,1905.0,59.8,340.6,178.9,204.1,783.4,-64.4,-3.2,-36.0,9.5,-20.5,1905.0,0.0,1905.0
22,1923.0,43.6,398.8,299.5,192.4,934.3,-74.2,13.3,6.4,3.9,-5.4,0.0,0.0,1923.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1924.0,0.0
25,1926.0,51.4,327.7,465.0,271.3,1115.3,-69.8,-8.0,64.0,45.7,12.0,0.0,1926.0,1926.0
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1931.0,0.0
64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1965.0,0.0
74,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1975.0,0.0,0.0
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1992.0,0.0,0.0
104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2005.0,0.0,0.0
108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2009.0,0.0,0.0
111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012.0,0.0
113,2014.0,64.6,358.5,256.4,201.1,880.5,-60.6,10.6,-15.9,11.0,-9.6,0.0,0.0,2014.0

In [ ]:
nr = input("Enter region")

In [129]:
nm = input("Enter month")

KeyboardInterrupt:

In [ ]:
df1 = pd.read_csv('south_pen-India_rainfall_act_dep_1901_2016.csv')
def max_rain():
    for i in
    return df1[df1['Actual Rainfall: JUN']==df1['Actual Rainfall: JUN'].max()][['YEAR']] 
max_rain()

In [151]:
#Draw the rainfall graph from 2002 to 2011 for costal, south-interior and north interior Karnataka 

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('METEOROLOGICAL_SUB_DIVISION_WISE_ANNUAL_RAINFALL.csv')
df['2011']=df['January 2009 (in millimetre)'

plt.plot(df['January 2009 (in millimetre)'],df['Sub-division'],marker='^', color="red", label = 'Product 1')

plt.xlabel("Rainfall")


# add legend
plt.legend()

#title
plt.title("Rainfall")

p

SyntaxError: invalid syntax (<ipython-input-151-d45f4afeece5>, line 10)

In [ ]:
#Draw the stacked chart of rainfall for states Karnataka, Kerala, Goa, TN and AP for year 2002 to 2004.