In [90]:
import numpy as np
from pandas import DataFrame
import pandas as pd

In [85]:
df = pd.read_csv('milk_production.csv')
df = df.applymap(lambda x: x.strip() if isinstance(x,str) else x)
df = df.dropna()

In [48]:
df.head(10)

,Category,State/ UT Name,Cow Milk-2010-11,Cow Milk-2011-12,Cow Milk-2013-14,Cow Milk-2014-15,Cow Milk-2015-16,Boffalo Milk-2010-11,Boffalo Milk-2011-12,Boffalo Milk-2013-14,Boffalo Milk-2014-15,Boffalo Milk-2015-16,Goat Milk-2010-11,Goat Milk-2011-12,Goat Milk-2013-14,Goat Milk-2014-15,Goat Milk-2015-16
0,State,Andhra Pradesh,3102.0,3377.0,3799.0,3079,3369,8101.0,8710.0,9207.0,6574,7445,1.0,1.0,1.0,3,3
2,State,Assam,666.0,658.0,677.0,685,703,101.0,117.0,122.0,120,117,23.0,22.0,15.0,24,24
3,State,Bihar,3561.0,3661.0,3986.0,4318,4881,2798.0,2805.0,3015.0,3248,3210,158.0,177.0,196.0,209,198
4,State,Chhattisgarh,644.0,701.0,788.0,824,919,343.0,368.0,374.0,359,311,43.0,49.0,46.0,49,48
7,State,Haryana,966.0,998.0,1057.0,1194,1558,5239.0,5596.0,6308.0,6628,6772,63.0,67.0,77.0,80,51
8,State,Himachal Pradesh,669.0,680.0,698.0,715,858,384.0,390.0,404.0,408,381,49.0,50.0,49.0,50,44
9,State,Jammu & Kashmir,1205.0,1204.0,1233.0,1323,1752,311.0,317.0,287.0,546,453,94.0,93.0,95.0,82,68
10,State,Jharkhand,842.0,1017.0,978.0,1088,1383,647.0,648.0,636.0,556,327,65.0,80.0,85.0,90,102
11,State,Karnataka,3475.0,3715.0,4142.0,4330,4417,1583.0,1675.0,1795.0,1733,1849,56.0,58.0,60.0,58,78
12,State,Kerala,2505.0,2582.0,2484.0,2534,2508,21.0,27.0,58.0,62,13,119.0,107.0,112.0,115,129

In [49]:
# Which state has produced max milk in year 2013-14?

df['milk'] = df['Cow Milk-2013-14'] + df['Boffalo Milk-2013-14'] + df['Goat Milk-2013-14']
df[df['milk'] == df['milk'].max()] [['State/ UT Name']]

   State/ UT Name
26  Uttar Pradesh

In [96]:
# List top 5 milk producing states in each year from 2010 to 2015

df['10-11'] = df['Cow Milk-2010-11'] + df['Boffalo Milk-2010-11'] + df['Goat Milk-2010-11']
df['11-12'] = df['Cow Milk-2011-12'] + df['Boffalo Milk-2011-12'] + df['Goat Milk-2011-12']
df['13-14'] = df['Cow Milk-2013-14'] + df['Boffalo Milk-2013-14'] + df['Goat Milk-2013-14']
df['14-15'] = df['Cow Milk-2014-15'] + df['Boffalo Milk-2014-15'] + df['Goat Milk-2014-15']

milk = df.sort_values(['10-11','11-12','13-14','14-15'],ascending = [False,False,False,False])

milk.head()['State/ UT Name']

26     Uttar Pradesh
21         Rajasthan
0     Andhra Pradesh
20            Punjab
14       Maharashtra
Name: State/ UT Name, dtype: object

In [ ]:
# Calculate average milk production by cow, buffalo and goat in each year for selected state. 

state=input('Enter the state')

df['mean_cow'] = sum(df.iloc[:,3:7].mean(axis=1))
df['mean_buffalo'] = sum(df.iloc[:,8:12].mean(axis=1))
df['mean_goat'] = sum(df.iloc[:,13:18].mean(axis=1))            

s = df[df['State/ UT Name'] == state][['State/ UT Name']]

In [99]:
# List 5 states (if present) whose total milk production is increased for last three years.

df['10-11'] = df['Cow Milk-2010-11'] + df['Boffalo Milk-2010-11'] + df['Goat Milk-2010-11']
df['11-12'] = df['Cow Milk-2011-12'] + df['Boffalo Milk-2011-12'] + df['Goat Milk-2011-12']
df['13-14'] = df['Cow Milk-2013-14'] + df['Boffalo Milk-2013-14'] + df['Goat Milk-2013-14']
df['14-15'] = df['Cow Milk-2014-15'] + df['Boffalo Milk-2014-15'] + df['Goat Milk-2014-15']
df['15-16'] = df['Cow Milk-2014-15'] + df['Boffalo Milk-2014-15'] + df['Goat Milk-2014-15']

df[(df['15-16']>df['14-15']) & (df['14-15']>df['13-14']) & (df['13-14']>df['11-12'])][['State/ UT Name','11-12','13-14','14-15','15-16']].head()

Empty DataFrame
Columns: [State/ UT Name, 11-12, 13-14, 14-15, 15-16]
Index: []

In [123]:
#Draw line graph showing total milk production for last 5 years of selected state

import matplotlib.pyplot as plt
import pandas as pd

plt.plot(df['10-11'], df.iloc[2:3], linestyle="dotted", marker='^', color="red", label = '2010')

plt.plot(df['11-12'], df.iloc[2:3], linestyle="solid", marker='o', color="green", label = '2011')

#plt.plot(df['12-13'], df['Andhra Pradesh'], linestyle="dashed", marker='<', color="blue", label = '2012')

plt.xlabel("Year")

plt.ylabel("production")

plt.legend()

plt.show()

ValueError: x and y must have same first dimension, but have shapes (1,) and (0, 5)

In [125]:
a = df.iloc[2:3,-5:]
a

    10-11   11-12   13-14  14-15  15-16
3  6517.0  6643.0  7197.0   7775   7775